@import "function";
@import "../common/var";

/* BEM
 -------------------------- */
 @mixin b($block) {
  // !global声明为全局变量
  $B: $namespace+'-'+$block !global;
  // #{}为变量的值
  .#{$B} {
    // 获取传入的内容
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;
  $selector: &;
  $currentSelector: "";
  // 遍历其中的值
  @each $unit in $element {
    $currentSelector: #{$currentSelector + "." + $B + $element-separator + $unit + ","};
  }
  // 如果是特殊的网结构，详细看function.scss
  @if hitAllSpecialNestRule($selector) {
    // 放置到最外层
    @at-root {
      #{$selector} {
        #{$currentSelector} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      #{$currentSelector} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: "";
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + $modifier-separator + $unit + ","};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}